*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ddd;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}



h1{
    text-align:center;
    position: relative;
    bottom: 200px;
    font-family:'serif';

}


.btn{
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 50px;
    padding: 10px ;
    cursor: pointer;
}